.card__title {
  max-width: 220px;
  /*Либо с точками из макета, либо этот набор свойств для эллипсиса текста в можно лучше*/
  margin: 0;
  overflow: hidden;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
/* ------------------------------------------------------------------------------- */
/* в случае ошибки загрузки img */

.card__image__load_failure__textstile {
  color: lightslategrey;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  white-space: wrap;
 
}
/* ------------------------------------------------------------------------------- */
