.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 14px;
  height: 30px;
}

/* ------------------------------------------------------------------------------- */
/* в случае ошибки загрузки img */

.card__image__load_failure__description {
  border-top: 5px solid black;
}
/* ------------------------------------------------------------------------------- */
