.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 14px;
}

/* ------------------------------------------------------------------------------- */
/* в случае ошибки загрузки img */

.card__image__load_failure__description {
  max-height: 38px;
  border-top: 4px solid black;
}
/* ------------------------------------------------------------------------------- */
