.popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.likers-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.popup_likes_image_name {
  font-size: 20px;
  opacity: 0.6;
}

.popup_likes_image_autor {
  margin-bottom: 30px;
  opacity: 0.7;
}

.popup__title_likes {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
}

.likers-names {
}

.update_confirm_warning_header {
  font-size: 21px;
  display: inline-block;
  font-weight: 700;
}

.update_confirm_warning {
  font-size: 19px;
  opacity: 0.7;
}

.update_confirm_warning_footer {
  font-weight: 700;
  display: block;
  margin-top: 30px;

  font-size: 21px;
}

.popup_wrong_link {
  text-align: center;
  opacity: 0.7;
  font-size: 20px;
  display: block;
  font-weight: 700;
}

.popup_404 {
  color: brown;
  opacity: 0.7;
  font-weight: 700;
  font-size: 70px;
  margin: 25px 0 60px;
  text-align: center;
}
