.popup__section {
  font-size: 18px;
  min-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 7px;
  white-space: nowrap;
}

.popup__caption {
  margin: 0 auto 8px;
  font-weight: 700;
}

.popup__autor {
  font-weight: 400;
  margin: 0 auto;
  margin: 0 auto 12px;
  font-weight: 700;
}
