.likes_counter {
  font-size: 17px;
  color: #000;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.likes_counter:hover {
  opacity: 0.6;
}

.likes_counter_fullscreen {
  margin-top: 15px;
  align-self: flex-end;
  font-size: 16px;
  color: #000;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  display: block;
  min-width: 12px;
}

.my_like_is-active {
  color: brown;
}
