.likes_counter {
  font-size: 17px;
  color: #000;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.likes_counter:hover {
  opacity: 0.6;
}

.my_like_is-active {
  color: brown;
}
