.card__like-button_is-active {
  background: transparent url("../../../../images/like-active.svg") no-repeat;
}

.card__like-button_fullscreen.card__like-button_is-active {
  background: transparent url("../../../../images/like-active.svg") no-repeat;
  background-size: 35px 32px;
  width: 35px;
  height: 32px;
}
