.clear_form {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 23px;
  height: 23px;
  background: transparent url("../../../images/refresh-form.svg") center
    no-repeat;
  cursor: pointer;
  background-size: 22px 22px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.clear_form:hover {
  opacity: 0.4;
}
