.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  background-color: #e9e9e9;
  
}

.card__image:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------------------------- */
/* чтобы в случае ошибки загрузки img - окно не схлопывалось и текст alt был виден */

.card__image__load_failure {
  display: block;
  background-color: #e9e9e9;
  padding: 20px 0 0 25px;
  height: 262px;
}


/* ------------------------------------------------------------------------------- */
