.profile__add-button {
  width: 150px;
  height: 43px;
  background: transparent url("../../../images/add-icon.svg") center no-repeat;
  background-size: 22px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-left: auto;
}

.profile__add-button:hover,
.refresh-card_button:hover,
.most-liked_card_button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .profile__add-button,
  .refresh-card_button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button,
  .refresh-card_button {
    width: 100%;
  }
}

.refresh-card_button {
  width: 110px;
  height: 35px;
  background: transparent url("../../../images/refresh_page.svg") center
    no-repeat;
  background-size: 28px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 3px;
}

.most-liked_card_button {
  width: 35px;
  height: 35px;
  background: transparent url("../../../images/most-liked.svg") center no-repeat;
  background-size: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 10px;
}
